{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
<div class="wrapper">
        <div class="logo">
            <img src="{% static 'img/jituan.jpg'%}" alt="">
        </div>
        <form method= "POST" href="" class="p-3 mt-3">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                {{ form.username }}
            </div>
            <div class="form-field d-flex align-items-center">
                {{ form.password }}
            </div>
            <button class="btn mt-3">登录</button>
        </form>
    </div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>